<div id="page">

    <ul class="title">
        <li class="header"></li>
    </ul>


    <div id="content">

        <div class="_tab">

            <div class="_tabcontainer">
                <div class="_tabitem"><span>Device Vital</span></div>
                <div class="_tabitem"><span>Sensors Simulation</span></div>
                <div class="_tabitem"><span>Network Simulation</span></div>
                <div class="indicator"></div>
            </div>

            <div class="_tabcontent">
                <div class="_tabcontentitem">
                    <div class="devices-vital">
                        <div id="cpu">
                            <div class="image">
                                <span class="text">CPU</span>
                            </div>
                            <div class="flip-toggle">
                                <div class="text">On</div>
                                <div class="left-circle"></div>
                                <div class="right-circle"></div>
                                <div class="switch-circle"></div>
                            </div>
                        </div>
                        <div id="memory">
                            <div class="image">
                                <span class="text">Memory</span>
                            </div>
                            <div class="flip-toggle">
                                <div class="text">On</div>
                                <div class="left-circle"></div>
                                <div class="right-circle"></div>
                                <div class="switch-circle"></div>
                            </div>
                        </div>
                        <div id="log">
                            <div class="image">
                                <span class="text">Log</span>
                            </div>
                            <div class="flip-toggle">
                                <div class="text">On</div>
                                <div class="left-circle"></div>
                                <div class="right-circle"></div>
                                <div class="switch-circle"></div>
                            </div>
                        </div>
                        <div id="baterry">
                            <div class="image">
                                <span class="text">Baterry</span>
                            </div>
                            <div class="flip-toggle">
                                <div class="text">On</div>
                                <div class="left-circle"></div>
                                <div class="right-circle"></div>
                                <div class="switch-circle"></div>
                            </div>
                        </div>
                        <div id="screenshots">
                            <div class="image">
                                <span class="text">ScreenShots</span>
                            </div>
                            <div class="flip-toggle">
                                <div class="text">On</div>
                                <div class="left-circle"></div>
                                <div class="right-circle"></div>
                                <div class="switch-circle"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="_tabcontentitem">
                    <div class="sensors-simulation">
                        <div id="restart">
                            <div class="image">
                                <span class="text"></span>
                            </div>
                            <div class="flip-toggle">
                                <div class="text">On</div>
                                <div class="left-circle"></div>
                                <div class="right-circle"></div>
                                <div class="switch-circle"></div>
                            </div>
                        </div>
                        <div id="install">
                            <div class="image">
                                <span class="text"></span>
                            </div>
                            <div class="flip-toggle">
                                <div class="text">On</div>
                                <div class="left-circle"></div>
                                <div class="right-circle"></div>
                                <div class="switch-circle"></div>
                            </div>
                        </div>
                        <div id="uninstall">
                            <div class="image">
                                <span class="text"></span>
                            </div>
                            <div class="flip-toggle">
                                <div class="text">On</div>
                                <div class="left-circle"></div>
                                <div class="right-circle"></div>
                                <div class="switch-circle"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="_tabcontentitem">
                    <img border="0" src="../../../images/map.png" />
                </div>
            </div>
        </div>
    </div>

</div>